body,html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#LogInBlock {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
}
.row {
  width: 100%;
  display: flex;
  margin: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.row > input {
  width: 70%;
}

input[type='submit'] {
  cursor: pointer;
}
.error {
  color: red;
  font-size: 1.3em;
}
