* {
    margin: 0;
    padding: 0;
}

html,body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
    background: rgb(94, 94, 94);
    color: #444;
    font-size: 12px;
    color: #333;
    font-family: 'Oswald', sans-serif;
}
.labelcolor {
    font-size: 1rem;
    color: white;
}

.fas{
    font-size: 2rem;
    color: white;
}

#color {
    width: 120px;
    height: 30px;
}

.space {
    height: 20px;
}

.customize-container{
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.customize {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: rgb(105, 105, 105);
    padding: 40px 0;
    position: fixed;
    border-radius: 10px;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 2px 2px 8px black;
    font-family: "oswald";
}

#download{
    width: 150px;
    height: 30px;
    font-size: .5rem;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 900;
    border: none;
}

#fullscreen {
    width: 120px;
    height: 30px;
    font-size: .5rem;
    font-weight: 900;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: none;
}


.content{
   width: 420px;
   height: 550px;
}

.book-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
}

.booklet {
    width: 900px;
    height: 607px;
    position: relative;
    margin: 0 auto 10px;
    -moz-box-shadow: 0px 0px 1px #fff;
    -webkit-box-shadow: 0px 0px 1px #fff;
    box-shadow: 0px 0px 1px #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.booklet .b-wrap-left {
    background: #fff url('../images/left_bg.jpg') no-repeat top left;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.booklet .b-wrap-right {
    background: #efefef url('../images/right_bg.jpg') no-repeat top left;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.booklet .b-counter {
    bottom: 10px;
    position: absolute;
    display: block;
    width: 90%;
    height: 20px;
    border-top: 1px solid #ddd;
    color: #222;
    text-align: center;
    font-size: 12px;
    padding: 5px 0 0;
    background: transparent;
    -moz-box-shadow: 0px -1px 1px #fff;
    -webkit-box-shadow: 0px -1px 1px #fff;
    box-shadow: 0px -1px 1px #fff;
    opacity: 0.8;
}

.book_wrapper {
    width: 905px;
    height: 640px;
    position: relative;
    background: transparent url('../images/bg.png') no-repeat 9px 27px;
}

.book_wrapper h1 {
    color: orange;
    margin: 5px 5px 5px 15px;
    font-size: 24px;
    background: transparent url('../images/h1.png') no-repeat bottom left;
    padding-bottom: 7px;
    text-transform: uppercase;
    font-weight: normal;
}

.book_wrapper p {
    font-size: 15px;
    margin: 5px 5px 5px 15px;
}

.book_wrapper a.article, .book_wrapper a.demo {
    background: transparent url('../images/circle.png') no-repeat 50% 0px;
    display: block;
    width: 95px;
    height: 41px;
    text-decoration: none;
    outline: none;
    font-size: 16px;
    color: #555;
    float: left;
    line-height: 41px;
    padding-left: 47px;
}

.book_wrapper a.demo {
    margin-left: 50px;
}

.book_wrapper a.article:hover, .book_wrapper a.demo:hover {
    background-position: 50% -41px;
    color: #13386a;
}

.book_wrapper img {
    margin: 0px 0px 0px 0px;
    width: 420px;
    height: 535px;
    padding: 4px;
    border: 1px solid #ddd;
    -moz-box-shadow: 1px 1px 1px #fff;
    -webkit-box-shadow: 1px 1px 1px #fff;
    box-shadow: 1px 1px 1px #fff;
}

.booklet .b-wrap-right img {
    border: 1px solid #E6E3C2;
}

a#next_page_button, a#prev_page_button {
    position: absolute;
    width: 41px;
    height: 40px;
    cursor: pointer;
    margin-top: -20px;
    top: 50%;
    background: transparent url('../images/buttons.png') no-repeat 0px -40px;
}

a#prev_page_button {
    left: -40px;
}

a#next_page_button {
    right: -40px;
    background-position: -41px -40px;
}

a#next_page_button:hover {
    background-position: -41px 0px;
}

a#prev_page_button:hover {
    background-position: 0px 0px;
}


#brand {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: 600;
  padding: 10px;
}

.search-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  justify-content: center;
}

.search-block > input {
  width: 70%;
  height: 35px;
  color: black;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
}

.views-block {
  font-size: 1.5em;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
}

.disable-right-click {
  margin-top: 15px;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#disable-right-click {
  margin-left: 10px;
}

.book-pages {
  width: 800px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.book-pages > .page {
  margin-right: 15px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  background: yellow;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  color: black;
  cursor: default;
  user-select: none;
}

.book-pages > .page.active {
  background: orange;
}

.pages-links {
  width: 820px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.pages-links > .title {
  text-align: center;
  width: 100%;
  font-size: 2em;
  color: black;
  font-weight: 600;
}

.pages-links > div {
  margin-top: 10px;
}


.pages-links > .page-content {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.page-content > div {
  margin-bottom: 3px;
  text-align: center;
}


.pages-links > .page-content > .page-title {
  font-size: 1.1em;
  color: black;
  font-weight: 600;
  margin-bottom: 10px;
}

#logotype-block {
  width: 70%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#logotype-block > img {
  width: 100%;
}

#share-block {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: fixed;
  top: 95%;
  left: 0px;
}

#sub-share-block {
  display: flex;
  padding-right: 40px;
  justify-content: flex-start;
}
#sub-share-block > div {
  margin-right: 10px;
}

#get-html-block {
  padding: 5px;
  background: rgb(21, 95, 233);
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}
