{% extends '/admin/pages/admin_page.html' %}

{% block css %}
<link rel="stylesheet" href=' {{ url_for("static", filename="/admin/css/create_user_page.css") }} '>
{% endblock %}


{% block content %}

<div class="container">

  <div id="user-form">
    <h2>Create new user</h2>
    <div><input id="username" placeholder="username (Email)" type="text"></div>
    <div><input id='password' placeholder="password" type="password"></div>
    <div><input id='username_again' placeholder="password again" type="password"></div>
    <div><input id='submit' type="button" value="Submit"></div>
  </div>

</div>

{% endblock %}


{% block js %}
<script type="module" src='{{ url_for("static", filename="/admin/js/create_user_page.js") }}'></script>
{% endblock %}
