<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Admin panel </title>
  {% block css %} {% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='/admin/css/header.css') }}">
</head>
<body>

<div id="main">

  <header id="header">
    <div class="header_sections">
      <div> <h2> <a href="{{ url_for('admin_page') }}"> Hello  {{ current_user.username }}! </a> </h2> </div>
      <div> <a href="{{ url_for('change_password_page') }}"> Change password </a></div>
      <div> <a href="{{ url_for('logout_page') }}"> Log out </a> </div>
      <div><a href=" {{ url_for('create_user_page')}} "> Create new user </a></div>
    </div>
  </header>

  {% block content %}

  {% endblock %}
</div>

{% block js %} {% endblock %}
</body>
</html>
