{% extends '/admin/pages/admin_page.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='/admin/css/user_details_page.css') }}">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
{% endblock %}

{% block content %}

<div id="user-block">

  <div class="user-header">
    <div class="sub-header">
      <div><span>ID: {{ user.id }} </span></div>
      <div><span>Username: {{ user.username }} </span></div>
      <div><span>Created flipbooks: {{ user.flip_books['count'] }} </span></div>
      <div><span>Register date: {{ user.dateRegistered }} </span></div>
    </div>
    <div class="sub-header reverse">
      <div><input id="delete_button" class="delete_button" user-id='{{ user.id }}' type="button" value="Delete user"></div>
    </div>
  </div>

  <div class="flip-book-created-text"><span><b> Flip books </b></span></div>

  <div id="flip-books">
    {% for flip_book in user.flip_books['flip_books'] %}

    <div class="flip-book-block">
      <div class="flip-book-info">
        <div class="flip-book-text">
          <span><b> Flip book id: {{ flip_book['id'] }} </b></span>
          <span><b>Password: {{ flip_book['password'] }}</b></span>
          <span><b>Link: {{ flip_book['link'] }}</b></span>
          <span><b>Brand: {{ flip_book['brand'] }}</b></span>
          <span><b>Users can download external file: {{ flip_book['external_download'] }}</b></span>
          <span><b>Disable right click: {{ flip_book['disable_right_click'] }}</b></span>
          <span class='logotype-block'><img class='logo-image' src="{{ flip_book['logotype'] }}" alt=""></span>
        </div>
        <div class="flip-book-delete"><input flip-book-directory-id="{{ flip_book['filesDirectoryID'] }}" flip-book-id="{{ flip_book['id'] }}" class='delete-flip-book delete_button' type="button" value='Delete flip book'></div>
      </div>

      <div class="flip-book-created-text"><span><b> Generated images </b></span></div>

      <div class="images-block">
        <div class="slider-block" flip-book-id="{{ flip_book['id'] }}">
          {% for img_src in flip_book['images']  %}
            <div class="slider-image"><img src="{{ img_src }}" alt="1"></div>
          {% endfor %}
        </div>
      </div>

      <div class="external_file"> <a href="{{ flip_book['external_file'] }}"><input type="button" value="Download external file"></a> </div>
    </div>

    {% endfor %}
  </div>

</div>

{% endblock %}


{% block js %}
<script type="module" src='{{url_for("static", filename="/admin/js/user_details_page.js")}}'></script>
{% endblock %}
